.about-service {
  position: relative;
  z-index: 10;
  background-color: $blue_2;
  background-image: url(../img/about-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center top ;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .about-service {
    background-image: url(../img/about-mobile@2x.png);
    background-size:292px 352px ;
  }
}

.about-service__container {
  padding: 30px 50px 58px 50px;
}

.about-service__title {
  @include title;
}

.about-service__text {
  @include text;

  color: $white_1;
}

.about-service__tagline {
  margin: 0;

  color: $white_1;
}

.about-service__more {
  display: none;
}

@media (min-width: $tablet-width) {
  .about-service {
    position: relative;
    padding-top: 64px;
    padding-bottom: 30px;
    background-image: none;
    // background-image: url(../img/about-tablet@1x.png);
    // background-position: calc(50% + 190px) 105px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;

    &::before {
      position: absolute;
      content: "";
      width: 686px;
      height: 213px;
      top: 54px;
      left: 50%;

      transform: translateX(-50%);

      background-color: $blue_1;
      border-radius: 20px;
    }

    &::after {
      position: absolute;
      z-index: 0;
      top: 104px;
      left: calc(50%);
      width: 376px;
      height: 548px;
      content: "";
      background-image: url(../img/about-tablet@1x.png);
      background-size: contain;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .about-service::after {
      background-image: url(../img/about-tablet@2x.png);
      background-size: 376px 548px;
    }
  }

  .about-service__container {
    padding-left: 75px;
    padding-right: 380px;
  }

  .about-service__title {
    margin-bottom: 40px;

    font-size: 45px;
    line-height: 45px;
  }

  .about-service__text {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 33px;
  }

  .about-service__tagline {
    font-size: 21px;

    line-height: 25px;
    margin-bottom: 54px;
  }

  .about-service__more {
    display: flex;

    width: 270px;
  }

  .about-service__more svg {
    width: 10px;
    height: 14px;

    fill: $blue_4;
  }
}

@media (min-width: $desktop-width) {
  .about-service {
    padding-top: 98px;
    padding-bottom: 106px;

    background-image: url(../img/about-desktop@1x.png);
    background-position: 93% 84px;

    &::before {
      width: 208px;
      height: 208px;
      top: 70px;
      left: calc(50% - 550px);

      background-color: #141b3b;
    }

    &::after {
      display: none;
    }
  }

   @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
     .about-service {
       background-image: url(../img/about-desktop@2x.png);
       background-size: 630px 665px;
     }
   }

  .about-service__container {
    padding-left: 132px;
    padding-right: 680px;
  }

  .about-service__title {
    margin-bottom: 60px;
  }

  .about-service__text {
    margin-bottom: 38px;
  }

  .about-service__tagline {
    width: 430px;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 86px;
  }

  .about-service__more {
    width: 280px;
  }

}
