.button {
  display: flex;
  justify-content: space-between;
  padding: 22px;
  background-color: $orange_4;
  color: $blue_4;
  font-size: 18px;
  line-height: 18px;
  width: 270px;
  border-radius: 8px;
}
