.catalog-title {
  position: relative;
  z-index: 10;

  padding-top: 25px;

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $blue_1;
}
.catalog-title__title {
  display: inline-block;
  position: relative;
  margin: 0;
  padding-bottom: 7px;

  line-height: 40px;
  font-size: 36px;

  color: $white_1;

  &:after {
    content: "";
    display: block;
    position: relative;
    height: 5px;
    bottom: -10px;

    background-color: $orange_1;
    border-radius: 2px;
  }
}

.catalog-title__to-main {
  display: none;
}

@media (min-width: $tablet-width) {
  .catalog-title {
    padding-top: 90px;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: $blue_1;
  }

  .catalog-title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 49px;
  }

  .catalog-title__title {
    font-size: 60px;
    line-height: 70px;

    &:after {
      height: 8px;
      bottom: -60px;

      border-radius: 4px;
    }
  }

  .catalog-title__to-main {
    display: block;

    margin-bottom: 10px;

    font-size: 20px;
    color: $white_1;
    text-transform: uppercase;

    transition: 0.2s all ease-out;

    &:active {
      opacity: 0.3;
    }
  }

  .catalog-title_to-main-text {
    margin-right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-title {
    padding-top: 94px;
  }

  .catalog-title__container {
    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 0;
  }

  .catalog-title__title {
    padding-bottom: 58px;

    font-size: 60px;
    line-height: 70px;

    &:after {
      height: 8px;
      bottom: -62px;

      border-radius: 4px;
    }
  }

  .catalog-title__to-main {
    margin-bottom: 58px;
    margin-right: 0px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
