.catalog-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: $white_1;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 12px 18px 22px 18px;
}

.catalog-card__foto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
}

.catalog-card__foto img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.catalog-card__name {
  width: 120px;
  font-size: 20px;
  line-height: 20px;
  color: $blue_1;
  margin: 0;
  margin-left: 16px;

  transition: 0.2s all ease-out;

  &:active {
    opacity: 0.3;
  }
}

.catalog-card__name--online {
  &::before {
    position: absolute;
    right: 23px;
    top: 23px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #81e31e;
  }
}

.catalog-card__name--ofline {
  &::before {
    position: absolute;
    right: 23px;
    top: 23px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f97676;
  }
}

.catalog-card__hashtags {
  color: $gray_1;
  font-weight: 400;
  margin-bottom: 11px;
  margin-left: 8px;
  font-size: 15px;
  line-height: 18px;
  width: 200px;
}

.catalog-card__country-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog-card__country-list {
  position: relative;
  @include list-default;
  padding: 7px;
  padding-bottom: 0;
}

.catalog-card__country-item {
  position: relative;
  display: flex;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: $blue_1;
  text-transform: uppercase;
  margin-bottom: 9px;
  align-items: center;
}

.catalog-card__country-name {
  margin-left: 14px;
}

.catalog-card__country-list-title-text {
  display: inline;
  font-weight: 400;
  color: $gray_1;
  font-size: 15px;
  line-height: 18px;
  text-transform: lowercase;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $white_1;
}

.catalog-card__country-list-title {
  position: relative;
  margin-bottom: 8px;

  &::before {
    position: absolute;
    left: -18px;
    top: 12px;
    content: "";
    width: 270px;
    height: 1px;
    background-color: $white_2;
  }
}

.catalog-card__transports-list {
  @include list-default;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 6px;
}

.catalog-card__transport-wrapper {
   display: flex;
   flex-direction: column;
}

.catalog-card__transport-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $white_2;

  &--active svg {
    opacity: 0.15;
  }
}

.catalog-card__transport-item {
  fill: $blue_2;
}

.catalog-card__transport-title {
  position: relative;
  margin-bottom: 8px;

  &::before {
    position: absolute;
    left: -18px;
    top: 12px;
    content: "";
    width: 270px;
    height: 1px;
    background-color: $white_2;
  }
}

.catalog-card__transport-title-text {
  display: inline;
  font-weight: 400;
  color: $gray_1;
  font-size: 15px;
  line-height: 18px;
  text-transform: lowercase;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $white_1;
}

.catalog-card__level {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 15px;
}

.catalog-card__level-title-text {
  display: inline;
  font-weight: 400;
  color: $gray_1;
  font-size: 15px;
  line-height: 18px;
  text-transform: lowercase;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $white_1;
}

.catalog-card__level-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-left: auto;
  margin-top: 5px;

}

.catalog-card__level-number {
  font-size: 24px;
  color: $blue_4;
}

.catalog-card__level-text {


  &--mobile {
    display: none;
  }
}

.catalog-card__bar {
  position: absolute;
}

.catalog-card__activity {
  width: 100%;
  order: 6;
}

.catalog-card__go-button {
  display: block;
  justify-content: space-between;
  background-color: $orange_4;
  width: 100%;
  height: 40px;
  font-size: 17px;
  line-height: 40px;
  color: $blue_1;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
  transition: 0.2s all ease-out;

  &:active {
    color: rgba($color: $blue_1, $alpha: 0.3);
    background-color: $orange_3;
  }
}

.catalog-card__heart {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $white_2;
  top: 54px;
  left: 68px;

  border: none;
  cursor: pointer;

  transition: 0.2s all ease-out;

  & svg {
    opacity: 0.6;

    transition: 0.2s all ease-out;
  }

  & .catalog-card__heart-img-active {
    display: none;
  }

  &:active {
    background-color: #e2e5f2;

    & svg {
      opacity: 0.3;
    }
  }

  &--active {
    background-color: #f9eaea;

    &:active {
      background-color: #f9d8d8;
    }

    & .catalog-card__heart-img-active {
      opacity: 1;
      display: block;
    }

    & .catalog-card__heart-img {
      display: none;
    }
  }
}

.catalog-card__subscribe {
  position: absolute;
  font-size: 14px;
  line-height: 21px;
  color: $blue_1;
  top: 60px;
  left: 105px;
}

@media (min-width: $tablet-width) {
  .catalog-card {
    padding: 35px;
    margin-bottom: 42px;
  }

  .catalog-card__foto {
    width: 190px;
    height: 190px;

    border-radius: 20px;
  }

  .catalog-card__name {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    color: $blue_4;
    width: auto;
    margin-left: 34px;

    &::before {
      top: 14px;
      right: -28px;
    }
  }

  .catalog-card__hashtags {
    order: 2;
  }

  .catalog-card__country-list-wrapper {
    order: 2;
  }

  .catalog-card__transport-wrapper {
    order: 1;
  }

  .catalog-card__level {
    order: 2;
  }

  .catalog-card__transport-title {
    display: none;
  }

  .catalog-card__transport-wrapper {
    margin-left: auto;
  }

  .catalog-card__transports-list {
    flex-direction: column;

    margin: 0;
  }

  .catalog-card__transport-item {
    background-color: transparent;
  }

  .catalog-card__transport-icon {
    width: auto;
    height: 21px;
  }

  .catalog-card__hashtags {
    width: 230px;
    margin-left: 226px;
    margin-right: auto;
    margin-top: -156px;

    font-size: 20px;
    line-height: 24px;
  }

  .catalog-card__activity {
    order: 2;
    display: flex;
    align-items: center;

    width: auto;

    margin-left: 226px;
    margin-top: -70px;
  }

  .catalog-card__country-list-wrapper {
    order: 4;
  }

  .catalog-card__go-button {
    width: auto;

    height: 50px;
    padding: 0 32px;

    font-size: 20px;
    line-height: 50px;
    font-weight: 700;

    border-radius: 25px;
  }

  .catalog-card__heart {
    position: relative;
    top: auto;
    left: auto;

    width: 50px;
    height: 50px;

    margin-right: 10px;

    & svg {
      width: 20px;
      height: 17px;
    }
  }

  .catalog-card__subscribe {
    position: relative;
    top: auto;
    left: auto;

    font-size: 20px;
    line-height: 30px;

    white-space: nowrap;
  }

  .catalog-card__level {
    margin-left: auto;
    margin-bottom: 0;
    margin-top: -64px;
  }

  .catalog-card__level-title {
    display: none;
  }

  .catalog-card__level-block {
    display: flex;
    flex-direction: column;

    width: 60px;
    height: 60px;

    margin: 0;
  }

  .catalog-card__level-text {
    display: block;


    font-size: 14px;
    line-height: 14px;
    font-weight: 400;

    color: #c8c8c8;

    border-top: 1px solid #c8c8c8;
  }

  .catalog-card__country-list-wrapper {
    margin-top: 8px;
  }

  .catalog-card__country-list-title {
    &::before {
      width: 100%;
      left: 0;
    }
  }

  .catalog-card__country-list-title-text {
    margin-left: 38px;
  }

  .catalog-card__country-list {
    display: flex;
    flex-direction: row;

    padding: 0;
    margin-top: 6px;
  }

  .catalog-card__country-item {
    font-size: 20px;
    line-height: 30px;

    margin-right: 26px;
    margin-bottom: 0;
  }

  .catalog-card__country-img {
    width: 35px;
    height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card {
    justify-content: start;

    width: 950px;

    padding: 0;
    margin-bottom: 30px;

    transition: 0.2s all ease-out;

    &:hover {
      box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);

      & .catalog-card__foto img {
        transform: scale(1.1, 1.1);
      }
    }
  }

  .catalog-card__foto {
    width: 285px;
    height: 100%;

    margin: 0;

    border-radius: 0;

    & img {
      display: block;

      transition: 0.2s all ease-out;
    }
  }

  .catalog-card__name {
    margin-left: 60px;
    margin-top: 46px;

    &::before {
      right: auto;
      left: -24px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .catalog-card__country-list-wrapper {
    order: 1;
    width: auto;

    margin-left: auto;
    margin-top: 48px;
    margin-right: 76px;
  }

  .catalog-card__country-list-title {
    display: none;
  }

  .catalog-card__country-list {
    flex-direction: column;

    margin-top: 0;

    width: 200px;

  }

  .catalog-card__country-item {
    margin: 0;
    margin-bottom: 8px;
  }

  .catalog-card__country-name {
    margin-left: 18px;
  }

  .catalog-card__transport-wrapper {
    order: 4;
    margin-top: -86px;
    margin-left: auto;
  }

  .catalog-card__transports-list {
    flex-direction: row;
  }

  .catalog-card__hashtags {
    margin-left: 345px;
    margin-top: -190px;
  }

  .catalog-card__activity {
    margin-left: 345px;
    margin-top: -140px;
  }

  .catalog-card__level {
    order: 8;

    margin-right: 44px;
    margin-top: -100px;
    margin-left: 46px;
  }

  .catalog-card__go-button {
    &:hover {
      background-color: $orange_3;
    }

    &:active {
      color: rgba($color: $blue_1, $alpha: 0.3);
      background-color: $orange_3;
    }
  }

  .catalog-card__heart {

    &:hover {
      background-color: #e2e5f2;

      & svg {
        opacity: 1;
      }
    }

    &:active {
      & svg {
        opacity: 0.3;
      }
    }

    &--active {

      &:hover {
        background-color: #f9d8d8;
      }

      &:active {
        background-color: #f9d8d8;
      }
    }
  }
}
