.catalog-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding-top: 25px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $blue_1;
}

.catalog-title__title-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog-title__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 7px 0;
}

.catalog-title__title-underline {
  position: relative;
  height: 5px;
  background-color: $orange_1;
  border-radius: 2px;
  bottom: -2px;
}

.catalog-title__to-main {
  display: none;
}

