.companion-card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.companion-card__foto {
  width: 100%;
  height: 270px;
}

.companion-card__info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 23px 23px 16px 23px;
}

.companion-card__level {
  position: absolute;
  top: -255px;
  left: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.companion-card__level-number {
  font-size: 24px;
  line-height: 24px;
  padding-top: 12px;
}

.companion-card__level-text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  border-top: 1px solid;
  padding: 2px;
}

.companion-card__bar {
  position: absolute;
}

.companion-card__countries {
  position: absolute;
  top: -12px;
  display: flex;
  width: 224px;
  justify-content: center;
  padding: 0;
}

.companion-card__country {
  padding-left: 10px;
  padding-right: 10px;
}

.companion-card__name {
  font-size: 21px;
  line-height: 21px;
  color: $blue_1;
  margin-bottom: 16px;
  text-align: center;
}

.companion-card__name-text {
  position: relative;
}

.companion-card__name-text--online {
  &::before {
    position: absolute;
    left: -15px;
    top: 12px;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #81e31e;
  }
}

.companion-card__name-text--ofline {
  &::before {
    position: absolute;
    left: -15px;
    top: 12px;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #f97676;
  }
}

.companion-card__hashtags {
  color: $gray;
  font-weight: 400;
  text-align: center;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 18px;
}

.companion-card__transports {
  @include list-default;
  display: flex;
  justify-content: center;

}

.companion-card__transport {
  padding-left: 7px;
  padding-right: 7px;
}
