.country-card {
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px;
}

.country-card__info {
  position: relative;
  display: flex;
  justify-content: space-between;

  padding: 24px;
  margin-top: -16px;

  border-radius: 10px;
  background-color: $white_1;
}

.country-card__text-wrapper {
  max-width: 160px;
}

.country-card__name {
  display: block;
  margin-bottom: 2px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  color: $blue_1;
}

.country-card__tagline {
  display: block;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: $gray_2;
}

.country-card__flag {
  position: absolute;
  top: -12px;
  width: 36px;
  height: 24px;
}

.country-card__visits {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: $gray_2;

  &:before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url(../img/user.svg);
    margin-right: 8px;
  }
}

@media (min-width: $tablet-width) {
  .country-card {
    border-radius: 20px;
  }

  .country-card__link {
    display: flex;
  }

  .country-card__img {
    order: 2;
    width: 30%;
  }

  .country-card__img img {
    height: 100%;
    width: 100%;
  }

  .country-card__info {
    flex-direction: column;
    flex-grow: 2;
    margin-top: 0;
    padding: 30px;
    padding-bottom: 20px;
    border-radius: 0;
  }

  .country-card__text-wrapper {
    max-width: 300px;
    margin-bottom: 10px;
  }

  .country-card__name {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .country-card__tagline {
    font-size: 20px;
  }

  .country-card__flag {
    width: 70px;
    height: 48px;
    right: -35px;
    top: 16px;
  }

  .country-card__visits {
    display: flex;
    align-items: center;
    font-size: 20px;

    &::before {
      width: 20px;
      height: 20px;
    }
  }
}

@media (min-width: $desktop-width) {

  .country-card__img {
    width: 33%;
  }

  .country-card__info {
    padding: 24px 30px;
  }

  .country-card__tagline {
    margin-bottom: 6px;
  }
}
