.directions {
  z-index: 9;
  padding-top: 100px;
  padding-bottom: 30px;
  margin-top: -30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: $white_2;
}

.directions__about {
  width: 200px;
  margin-bottom: 40px;
}

.directions__title {
  @include title;
  padding-left: 25px;
}

.directions__text {
  @include text;
  color: $gray;
  padding-left: 25px;
}

.directions__countries {
  position: relative;
  @include list-default;
  margin-bottom: 26px;

  &::after {
    content: "";
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(transparent 0%, $white_2 85%);
  }
}

.directions__country {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.directions__img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.directions__info {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  border-radius: 10px;
  position: relative;
  margin-top: -11px;
  padding: 24px;
}

.directions__country-name {
  display: block;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: $blue_1;
  margin-bottom: 2px;
}

.directions__country-tagline {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: $gray_2;
}

.directions__flag {
  position: absolute;
  top: -12px;
}

.directions__visits-number {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: $gray_2;
}

.directions__show-all {
  width: 270px;
}

@media (min-width: $tablet-width) {
  .directions {
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    padding-bottom: 80px;
    padding-top: 132px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-image: url(../img/flags-back@1x.png);
    background-position: 440px 140px;
    background-repeat: no-repeat;
  }

  .directions__about {
    width: 380px;
    padding-left: 10px;
    margin-bottom: 86px;
  }

  .directions__title {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 56px;
  }

  .directions__text {
    font-size: 28px;
    line-height: 33px;
  }

  .directions__countries {
    padding-left: 34px;
    padding-right: 34px;
    margin-bottom: 36px;
  }

  .directions__country {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  .directions__img {
    width: 30%;
    border-radius: 0 20px 20px 0;
  }

  .directions__info {
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 2;
    margin-top: 0;
    padding: 30px;
    padding-bottom: 18px;
    border-radius: 20px 0 0 20px;
  }

  .directions__country-name {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .directions__country-tagline {
    font-size: 20px;
    margin-bottom: 17px;
  }

  .directions__flag {
    width: 70px;
    height: 48px;
    right: -35px;
    top: 16px;
  }

  .directions__visits {
    display: flex;
    align-items: center;
  }

  .directions__visits img {
    width: 18px;
    height: 20px;
  }

  .directions__visits-number {
    font-size: 20px;
    line-height: 30px;
    margin-left: 12px;
  }

  .directions__show-all {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 620px;
    padding: 28px 34px;
    margin-left: 34px;
    margin-right: 34px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
  }
}

@media (min-width: $desktop-width) {
  .directions {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 860px;
    padding-bottom: 104px;
    padding-top: 220px;
    padding-left: 96px;
    background-image: url(../img/flags-back@1x.png);
    background-position: 95% 148px;
  }

  .directions__countries {
    flex-grow: 2;
    width: 628px;
    padding-left: 34px;
    padding-right: 34px;
    margin-bottom: 36px;

  }

  .directions__about {
    order: 2;
    margin-bottom: 80px;
    margin-left: -60px;
  }

  .directions__show-all {
    order: 2;
  }

  .directions__img {
    width: 33%;
    border-radius: 0 20px 20px 0;
  }

  .directions__info {
    padding: 24px 30px 18px 30px;
  }

  .directions__country-tagline {
    margin-bottom: 22px;
  }

  .directions__title {
    margin-bottom: 60px;
  }

  .directions__show-all {
    width: 275px;
    margin-left: -230px;
  }
}
