.directions {
  position: relative;
  z-index: 9;
  padding-top: 100px;
  padding-bottom: 30px;
  margin-top: -30px;

  background-color: $white_2;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.directions__about {
  margin-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;
}

.directions__title {
  @include title;
}

.directions__text {
  @include text;
  color: $gray_1;
}

.directions__countries {
  position: relative;
  @include list-default;
  margin-bottom: 26px;

  &::after {
    content: "";
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0;

    background: linear-gradient(transparent 0%, $white_2 85%);
  }
}

@media (min-width: $tablet-width) {
  .directions {
    padding-bottom: 80px;
    padding-top: 132px;
    margin-top: -60px;

    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-image: url(../img/flags-back@1x.png);
    background-position: calc(50% + 200px) 140px;
    background-repeat: no-repeat;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .directions {
      background-image: url(../img/flags-back@2x.png);
      background-size: 376px 548px;
    }
  }


  .directions__container::after {
    position: absolute;
    z-index: -1;
    top: 330px;
    left: 40px;
    width: 141px;
    height: 141px;
    content: "";
    border-radius: 20px;
    background-color: #e2e5f2;
  }

  .directions__about {
    width: 400px;

    padding-left: 34px;
    margin-bottom: 106px;
  }

  .directions__title {
    margin-bottom: 56px;

    font-size: 45px;
    line-height: 45px;
  }

  .directions__text {
    font-size: 28px;
    line-height: 33px;
  }

  .directions__countries {
    padding-left: 34px;
    padding-right: 34px;
    margin-bottom: 36px;
  }

  .directions__show-all {
    margin-left: 34px;
    margin-right: 34px;
  }
}

@media (min-width: $desktop-width) {
  .directions {
    padding-bottom: 90px;
    padding-top: 220px;
    background-position: calc(50% + 520px) 148px;
  }

  .directions__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &::after {
      top: -70px;
      left: 60px;
    }
  }

  .directions__countries {
    width: 628px;
    margin-left: 40px;
  }

  .directions__about {
    order: 2;

    width: 400px;
    margin-left: 100px;
  }

  .directions__show-all {
    order: 2;
    margin-left: auto;
    margin-right: 240px;
    margin-top: -130px;
  }

  .directions__img {
    width: 33%;
  }

  .directions__info {
    padding: 30px;
  }

  .directions__country-tagline {
    margin-bottom: 22px;
  }

  .directions__title {
    margin-bottom: 60px;
  }

  .directions__show-all {
    width: 280px;
  }
}

