.login{
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 6;

  padding-top: 100px;
  padding-bottom: 28px;
  margin-top: -30px;

  color: $white_1;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: $blue_2;
}

.login__title {
  @include title;
  text-align: center;
}

.login__text {
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  font-weight: 300;
  text-align: center;
}

.login__link-enter {
  text-decoration: underline;
  color: $orange_4;

  &:active{
    opacity: 0.3;
  }
}

.login__form {
  display: flex;
  position: relative;
  overflow: hidden;

  margin-bottom: 26px;

  border-radius: 10px;
}

.login__form-input {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  height: 62px;

  padding: 22px;
  padding-right: 20px;
  margin-right: -10px;

  border-radius: 10px 0 0 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #c7c7c7;

  border: none;

  &:focus {
    color: #ffffff;

    border: solid 4px #ffffff;
    background-color: transparent;
  }

  &:invalid {
    color: #ff0000;

    background-color: #ffefef;
  }
}

.login__form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;

  border: none;
  background-color: $orange_4;
  border-radius: 10px;
  cursor: pointer;
}

.login__form-button:active svg {
  opacity: 0.3;
}

.login__form-button-text {
  display: none;
}

.login-questions {
  font-weight: 300;
  text-align: center;

  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.login__contacts {
  @include list-default;
  display: flex;
  flex-direction: column;
}

.login__contacts-item {
  display: flex;
  align-items: center;
}

.login__contacts-img-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  background-color: $blue_3;
  border-radius: 50%;
}

.login__contacts-img-link:active {
  & .login__contacts-img {
    opacity: 0.3;
  }
}

.login__contacts-img {
  fill:$orange_4;
}

.login__contacts-link {
  margin-left: 18px;

  text-transform: uppercase;
  color: $orange_4;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .login {
    padding-top: 134px;
    padding-bottom: 58px;
    margin-top: -60px;

    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  .login__container {
    padding-left: 75px;
    padding-right: 75px;
  }

  .login__title {
    padding: 0 20px;
    margin-bottom: 56px;

    font-size: 45px;
    line-height: 45px;
  }

  .login__text {
    margin-bottom: 66px;

    font-size: 28px;
    line-height: 33px;
  }

  .login__form {
    margin-bottom: 54px;

    border-radius: 20px;
  }

  .login__form-input {
    height: 80px;

    font-size: 24px;
    line-height: 24px;

    padding: 27px;

    border-radius: 20px 0 0 20px;
  }

  .login__form-button {
    width: 84px;

    border-radius: 0;
    border-left: 1px solid $gray_1;
  }

  .login-questions {
    margin-bottom: 40px;

    font-size: 28px;
    line-height: 33px;
  }

  .login__contacts-img-link {
    width: 70px;
    height: 70px;

    & img {
      width: 30px;
    }
  }

  .login__contacts-img {
    width: 27px;
    height: 27px;
  }

  .login__contacts-link {
    margin-left: 22px;

    font-size: 28px;
    line-height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .login {
    align-items: center;

    padding-top: 162px;
    padding-bottom: 104px;
  }

  .login__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 132px;
    padding-right: 132px;
  }

  .login__text {
    width: 620px;

    margin-bottom: 62px;

    text-align: center;
  }

  .login__link-enter {

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .login__form {
    width: 100%;

    margin-bottom: 5px;
  }

  .login__form-input {

    &:hover {
      color: #98999d;
      background-color: #edeff6;
    }

    &:focus {
      color: #ffffff;

      border: solid 4px #ffffff;
      background-color: transparent;
    }

    &:invalid {
      color: #ff0000;

      background-color: #ffefef;
    }
  }

  .login__form-button {
    width: auto;

    padding: 20px 40px;

    border-left: none;
  }

 .login__form-button-text {
    display: block;

    margin-right: 100px;

    font-size: 24px;
    line-height: 24px;
    font-weight: 700;

    color: $blue_4;
  }

  .login__form-button:hover {
    & svg {
      opacity: 0.6;
    }

    & .login__form-button-text {
      opacity: 0.6;
    }
  }

  .login__form-button:active {
    & svg {
      opacity: 0.3;
    }

    & .login__form-button-text {
      opacity: 0.3;
    }
  }

 .login__contacts {
    flex-direction: row;
    flex-wrap: wrap;

    margin-right: -110px;
  }

 .login-questions {
    margin-bottom: 44px;
  }

 .login__contacts-item {
    display: flex;
    align-items: center;

    margin-right: 110px;
  }

 .login__contacts-link {
    margin-left: 34px;
  }

 .login__contacts-img {
    width: 36px;
    height: 36px;
  }

 .login__contacts-img-link {
    width: 90px;
    height: 90px;

   & img {
    width: 40px;
   }
  }

  .login__contacts-img-link:hover {
    & .login__contacts-img {
      fill: $orange_3;
    }
  }

  .login__contacts-img-link:active {
    & .login__contacts-img {
      opacity: 0.3;
    }
  }

  .login__contacts-link {
    &:hover {
      color: $orange_3;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
