.main-menu {
  display: none;
  z-index: 22;
  padding-top: 42px;
  padding-bottom: 40px;
  color: $blue_2;
  text-transform: uppercase;
  background-color: $white;
}

.page-header--open .main-menu {
  display: block;
}

.main-menu__list {
  @include list-default;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  padding-bottom: 50px;
}

.main-menu__list-item {
  text-align: center;
}

.main-menu__contacts {
  @include list-default;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  padding-bottom: 44px;
}

.main-menu__contacts-item {
  display: flex;
  justify-content: start;
  align-items: center;
  &--login {
    margin-bottom: 50px;
  }
}

.main-menu__contacts-item-text {
  padding-left: 16px;
}

.main-menu__contacts-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $blue_3;
}

.main-menu__login {
  display: block;
  padding: 10px 0;
  width: 100%;
  border-radius: 25px;
  background-color: $orange_4;
  text-align: center;
  font-size: 17px;
  line-height: 30px;
}

.main-menu__social {
  @include list-default;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu__social-item {
  margin: 0 14px;
}

@media (min-width: $tablet-width) {
  .main-menu {
    display: flex;
    align-items: center;
    padding: 0;
    background-color: $blue_1;
  }

  .main-menu__list {
    display: none;
  }

  .main-menu__social {
    display: none;
  }

  .main-menu__contacts {
    padding: 0;
  }

  .main-menu__contacts-item {
    display: none;

    &--login {
      display: block;
      margin: 0;
    }
  }

  .main-menu__login {
    padding: 10px 29px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {

}
