.main-menu {
  padding: 42px 0 40px 0;
  color: $blue_2;
  text-transform: uppercase;
}

.main-menu__list {
  @include list-default;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  padding-bottom: 50px;
}

.main-menu__list-item {
  text-align: center;
}

.main-menu__contacts {
  @include list-default;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  padding-bottom: 44px;
}

.main-menu__contacts-item {
  display: flex;
  justify-content: start;
  align-items: center;
  &--login {
    margin-bottom: 50px;
  }
}

.main-menu__contacts-item-text {
  padding-left: 16px;
}

.main-menu__contacts-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $blue_3;
}

.main-menu__login {
  display: block;
  padding: 10px 0;
  width: 100%;
  border-radius: 25px;
  background-color: $orange_4;
  text-align: center;
  font-size: 17px;
  line-height: 30px;
}

.main-menu__social {
  @include list-default;
  display: flex;
  justify-content: center;
}

.main-menu__social-item {
  margin: 0 14px;
}
