.new-plan {
  position: relative;
  z-index: 11;

  padding-top: 28px;
  padding-bottom: 64px;
  margin-top: -30px;

  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #d4d9eb;

}

.new-plan__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.new-plan__title-text {
  margin: 0;

  font-size: 24px;
  line-height: 24px;

  color: $blue_4;
}

.new-plan__title-dots {
  @include list-default;
  display: flex;

  padding: 0;
  margin: 0;
}

.new-plan__title-dots-item {
  width: 5px;
  height: 5px;

  margin-right: 16px;

  background-color: #bbbfcc;
  border-radius: 50%;

  transition: all 0.2s ease-out;

  &--active {
    background-color: $blue_4;
  }
}

@media (min-width: $tablet-width) {
  .new-plan {
    padding-top: 46px;
    padding-bottom: 124px;
    margin-top: -60px;

    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }

  .new-plan__container {
    padding-left: 75px;
    padding-right: 75px;
  }

  .new-plan__title {
    margin-bottom: 50px;
  }

  .new-plan__title-text {
    font-size: 36px;
    line-height: 50px;
  }

  .new-plan__title-dots-item {
    width: 5px;
    height: 5px;

    margin-right: 29px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .new-plan {
    padding-bottom: 88px;
  }

  .new-plan__container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .new-plan__title-text {
    margin-left: 70px;
  }
}
