.new-plan {
  z-index: 11;
  padding-top: 28px;
  padding-bottom: 64px;
  margin-top: -30px;
  border-top-right-radius: 28px;
  border-top-left-radius: 28px;
  background-color: #d4d9eb;

}

.new-plan__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.new-plan__title-text {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  color: $blue_4;
}

.new-plan__title-dots {
  display: flex;
  @include list-default;
  padding: 0;
  margin: 0;
}

.new-plan__title-dots-item {
  width: 5px;
  height: 5px;
  background-color: $blue_4;
  border-radius: 50%;
  margin-right: 16px;
}
