.roadmap {
  position: relative;
  @include list-default;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding-bottom: 40px;
}

.roadmap__step {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 22px 22px 40px 22px;
  margin-top: -18px;
  border-radius: 10px;



  &:nth-child(1) {
    background-color: $orange_1;
  }

  &:nth-child(2) {
    background-color: $orange_2;
  }

  &:nth-child(3) {
    background-color: $orange_3;
  }

  &:nth-child(4) {
    background-color: $orange_4;
    padding-bottom: 22px;
  }
}

.roadmap__text {
  color: $blue_1;
  width: 160px;
}

.roadmap__step {
  color: $white;
}

@media (min-width: $tablet-width) {
  .roadmap {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }

  .roadmap__step {
    flex-direction: column;
    padding: 30px 32px 26px 32px;
    margin-top: 0;
    border-radius: 0;

    &:nth-child(1) {
      width: 55%;
      border-top-left-radius: 20px;
    }

    &:nth-child(2) {
      width: 50%;
      margin-left: -5%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &:nth-child(3) {
      width: 55%;
      border-bottom-left-radius: 20px;
    }

    &:nth-child(4) {
      width: 50%;
      margin-left: -5%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  .roadmap__text {
    width: 200px;
    margin-bottom: 12px;
  }

  .roadmap__step-number {
    font-size: 30px;
  }
}

@media (min-width: $desktop-width) {
  .roadmap {
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 2;
    margin-top: 104px;
  }

  .roadmap__step {
    flex-direction: row;
    padding: 28px 50px 32px 32px;
    margin-top: 0;
    width: auto;
    margin-left: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:nth-child(n) {
      width: auto;
      margin-left: 0;
      margin-right: -20px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      flex-grow: 2;
    }

    &:nth-child(4) {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      flex-grow: 1;
      margin-right: 0;
    }

    .roadmap__step-number {
      font-size: 24px;
    }

    .roadmap__text {
      margin-bottom: 0;
    }
  }


}
