.user-plans {
  position: relative;
  z-index: 10;

  padding-top: 30px;
  padding-bottom: 40px;
  margin-top: -30px;

  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #dfe3f0;
}

.user-plans__title {
  margin: 0 0 30px 0;

  font-size: 24px;
  line-height: 24px;

  color: $blue_4;
}

.user-plans__trips-list {
  @include list-default;
  padding: 0;
  margin: 0 0 20px 0;
}

.user-plans__trip-item {
  padding: 25px;
  margin-bottom: 10px;

  background-color: $white_1;
  border-radius: 10px;
  color: $blue_4;
}

.user-plans__trip-number {
  padding-right: 3px;
}

.user-plans__trip-to {
  display: flex;

  margin-bottom: 15px;

  font-size: 16px;
  line-height: 16px;
}

.user-plans__trip-details {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 18px;

  font-weight: 500;
  text-transform: uppercase;
}

.user-plans__change-link {
  margin-top: 20px;

  color: #b2b2b2;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .user-plans {
    padding-top: 50px;
    padding-bottom: 114px;
    margin-top: -60px;

    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .user-plans__container {
    padding-left: 75px;
    padding-right: 75px;
  }

  .user-plans__title {
    margin-bottom: 44px;

    font-size: 36px;
    line-height: 50px;
  }

  .user-plans__trip-item {
    padding: 0;
  }

  .user-plans__trip-to {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    padding: 40px;
    margin: 0;

    border-bottom: 1px solid rgba($color: #cbced9, $alpha: 0.3);
  }

  .user-plans__trip-number {
    font-size: 20px;
  }

  .user-plans__trip-countries {
    font-size: 24px;
  }

  .user-plans__trip-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 18px 30px;

    font-size: 20px;
    letter-spacing: 2px;
  }

  .user-plans__change-link {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .user-plans {
    padding-top: 46px;
    padding-bottom: 102px;
  }

  .user-plans__container {
    padding-left: 124px;
    padding-right: 60px;
  }

  .user-plans__title {
    margin-left: 8px;
  }

  .user-plans__trip-item {
    display: flex;

    padding: 40px;
    margin-bottom: 14px;
  }

  .user-plans__trip-to {
    flex-direction: row;
    justify-content: start;
    width: 50%;

    padding: 0;
    border: none;
  }

  .user-plans__trip-details {
    width: 50%;

    padding: 0;
  }

  .user-plans__trip-number {
    margin-right: 36px;
  }

  .user-plans__dates {
    margin-right: 80px;
  }

  .user-plans__change-link {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
