$blue_1: #161c36;
$blue_2: #192144;
$blue_3: #121936;
$blue_4: #1d2e5b;
$orange_1: #ff8d30;
$orange_2: #ffa530;
$orange_3: #ffbd30;
$orange_4: #ffd74b;
$white: #ffffff;
$white_2: #edeff6;
$gray: #444444;
$gray_2: #c7c7c7;
